p {
    color: orange;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 20px;
    text-align: center;
    transition: all 1s;
}

p:hover {
    color: yellow;
    font-size: 32px;
    text-shadow: 0 0 10px orange;
}
